fastapi
uvicorn[standard]

python-multipart
openai

pydantic
email-validator

sqlalchemy
psycopg2-binary

passlib[bcrypt]
python-jose[cryptography]

pillow
qrcode
cryptography
pyOpenSSL

google-auth
google-auth-oauthlib
google-api-python-client
PyJWT
requests

resend
cloudinary
firebase-admin
